.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    *zoom:1;
}
.box1{
    position: relative;
    width: 1423px;
    height: 850px;
    background-image: url(index/bg.png);
    background-repeat: no-repeat;
    background-position: -400px 0;
    background-attachment: scroll;
}
    .box11{
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 1423px;
        height: 45px;
        background-color: rgb(255, 255, 255,.5);
    }
        .box111{
            float: left;
            width: 50px;
            height: 50px;
            padding-top: 7px;
            padding-left: 20px;
            background-repeat: no-repeat;
        }
        .box112 a{
            float: left;
            text-decoration: none;
            width: 400px;
            color: #2d76be;
            font-size: 20px;
            font-weight: 700;
            margin-left: -10px;
            margin-top: 10px;
        }
        .box113,
        .box114{
            float: right;
            padding: 10px;
        }
        .box113 a:hover,
        .box114 a:hover{
            color: black;
        }
        .box113 a{
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            color: rgb(77,96,125);
        }
        .box114 a{
            text-decoration: none;
            font-size: 18px;
            background-color: rgb(36,67,98);
            color: white;
        }

    .box12{
        position: absolute;
        top: 230px;
        left: 0;
        width: 717px;
        height: 428px;
        text-align: center;
    }
        .box12 .title1 {
            font-size: 36px; 
            color: rgb(33, 63, 128);
            font-weight: 600;
        }
        .box12 .title2{
            font-size: 24px;
            color: rgba(50,49,48,.9);
            font-weight: 600;
        }
        .box12 .title3{
            font-size: 18px;
            color: #6e6d6b;
            line-height: 2;
            margin: 5px;
        }
        .enroll{
            width: 250px;
            height: 45px;
            background-color: rgb(50, 113, 186);
            border-radius: 10px;
        }
        .box12 .enroll{
            text-align: center;
            margin: 30px auto;
        }
        .enroll a{
            display: block;
            font: normal 600 18px 'Microsoft';
            text-decoration: none;
            line-height: 45px;
            color: white;
            
        }
        .enroll :hover{
            background-color: rgb(255, 255, 255,.6);
        }

    .box13{
        position: absolute;
        top: 840px;
        left: 0;
        width: 1423px;
        height: 7px;
        background-color:  rgb(239, 239,239)
    }
.box2{
    position: relative;
    margin:0 auto;
    width: 1280px;
    height: 500px;
}
    .box21,
    .box41{
        float: left;
        width: 100%;
        margin: 35px 35px;
        height: 50px;
        font-size: 18px;
        font-weight: 600;
        color: #3997f5;
        text-indent: 80px;
    }
    .box22{
        float: left;
        width: 100%;
        margin: 35px 0;
        height: auto;
    }
        .box221{
            float: left;
            width: 800px;
            height: 109px;
            padding: 35px 25px;
        }
        .box2211{
            float: left;
        }
        .box2212{
            float: left;
            margin-left: 10px;
        }
        .box2212 .p1{
            color: rgb(21,78,116);
            font-size: 15px;
            font-weight: 600;
            line-height: 2;
        }
        .box2212 .p2{
            color: rgb(50,49,48);
            margin-top: 3px;
            font-size: 20px;
            font-weight: 600;
            line-height: 2;
        }
        .box2212 a{
            text-decoration: none;
            margin-top: 35px;
            font-size: 18px;
            font-weight: 600;
            color: rgba(83,133,180,.849);
            line-height: 2;
        }
    .box222 img{
        float:right;
        width: 280px;
    }
.box3{
    position: relative;
    margin:0 auto;
    width: 1280px;
    height: 500px;
}
.box31,
.box51{
    float: right;
    width: 30%;
    margin: 35px 0;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #3997f5;
    text-indent: 80px;
}
.box32{
    float: right;
    width: 100%;
    height: 521px;
}
    .box321{
        float: left;
        height: auto;
    }
        .box321 img{     
            width: 60%;
            margin-left: 100px;
            margin-top: 100px;
        }
    .box322{
        float:right;
        width: 700px;
        height: 100%;
    }  
        .box32211 img,
        .box32221 img,
        .box32231 img{
            float: left;
            width: 40px;
            padding-top: 50px;
            padding-left: 20px;
            background-repeat: no-repeat;
        }
        .box32212,
        .box32222,
        .box32232{
            float: left;
            width: 600px;
            font-size: 16px;
            margin-left: 30px;
            margin-top: 30px;
            color: #273742;
            line-height: 2;
        }
.box4{
    position: relative;
    margin:0 auto;
    width: 1280px;
    height: 700px;
}
    .box421 img{
        float: left;
        width: 500px;
        margin-left: 200px;
    }
    .box422 img{
        float: right;
        width: 275px;
        margin-top: 75px;
        margin-right: 50px;

    }
.box5{
    position: relative;
    margin:0 auto;
    width: 1280px;
    height: 900px;
}
.box52{
    position: absolute;
    width: 1280px;
    height: 750px;
    margin-top: 100px;
    overflow: hidden;
}
.box52 ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 600%; 
}
.box52 ul li{
    float: left;
}
.box52 img{
    width: 1283px;
}
.box52 a{
        display: inline-block;
        margin-right: -3px;
}
.prev,
.next{
    /* z-index: 0.5; */
    z-index: 1;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 15px;
    height: 40px;
    background:rgba(255,255,255,.7);
    text-align: center;
    line-height: 40px;
    color: rgb(102,102,102);
    text-decoration: none;
   border-radius: 3px;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
.nav{
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 16px;
}
    .nav .current{
        background-color: black;
    }
    .nav li{
        float: left;
        width: 10px;
        height: 10px;
        background-color: rgba(255,255,255,.5);
        margin: 3px;
        border-radius: 50%;
    }
.box6{
    position: relative;
    margin:50px auto;
    width: 100%;
    height: 450px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 3;
    color: rgb(82,127,195);
}
.box7{
    position: relative;
    background-color: rgb(26,50,73);
    width: 100%;
    height: 350px;
}
    .box71{
        position: absolute;
        width: 100%;
        height: 50px;
        margin-top: 0;
    }
        .box711{
            float: left;
            width: 50px;
            height: 50px;
            padding-top: 7px;
            padding-left: 100px;
            background-repeat: no-repeat;
        }
        .box712{
            float: left;
            width: 400px;
            color: rgb(157,167,176);
            font-size: 16px;
            margin-left:-10px;
            margin-top: 13px;
        }
    .box72{
        position: absolute;
        width: 100%;
        height: 250px;
        margin-top: 50px;
    }
        .box721,
        .box722,
        .box723{
            float: left;
            width: 300px;
            height: 200px;
            margin-left: 120px;
            margin-top: 50px;
        }
    .box72 p{
        color: white;
        font-weight: 600;
        line-height: 30px;
    }
    .box72 a{
        text-decoration: none;
        color: rgb(155,165,174);
        font-size: 14px;
        font-weight: normal;   
    }
    .box72 a:hover{
        text-decoration: underline;
    }
    .box73{
        position: absolute;
        width: 100%;
        height: 20px;
        margin-top: 300px;
        margin-left: 100px;
        color: rgb(192,198,204);
        font-size:16px;
    }